<div class="dropdown ms-auto my-2 my-lg-0">
  <a
    href="#"
    class="btn "
    role="button"
    id="dropdownMenuLink"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    ><i class="bi bi-person-circle profile-icon"></i>
    <i class="bi bi-caret-down-fill ms-1 small"></i
  ></a>

  {% if user.is_authenticated %}
  <ul
    class="dropdown-menu dropdown-menu-end shadow"
    aria-labelledby="dropdownMenuLink"
    style="z-index: 1021"
  >
    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
    <li><a class="dropdown-item" href="{% url 'tasks_list' %}">My Tasks</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
  </ul>
  {% else %}
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
    <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
  </ul>
  {% endif %}
</div>

