-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
dj-database-url==2.3.0; python_version < '3.10'
django==5.2.1; python_version >= '3.10'
gunicorn==23.0.0; python_version >= '3.7'
packaging==25.0; python_version >= '3.8'
psycopg2-binary==2.9.10; python_version >= '3.8'
sqlparse==0.5.3; python_version >= '3.8'
typing-extensions==4.13.2; python_version >= '3.8'
whitenoise==6.9.0; python_version >= '3.9'
