{% extends 'base.html' %}
{% load static %}
{% block title %} Task List {% endblock %}
{% block content %}
<body class="padding-top-225">
  
<div class="container">
  <div class="row d-flex align-items-stretch">
    {% include 'task_manager_app/partials/task_tabs.html' with active_tab='all' %}
    <div class="mt-5">
        {% include 'task_manager_app/partials/task_btns.html' %}

    </div>
  </div>
  <div>
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-primary">Previous</a>
  {% endif %}

  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-primary">Next</a>
  {% endif %}
</div>
</div>
</body>

{% endblock %}