{% extends 'base.html' %} {% block content %}
<body class="padding-top-225">
    <section>
        <div class="container">
    <div class="row ms-5">
    <div class="col-sm-6">
        <div class="card">
      <div class="card-body">
        <h5 class="card-title">Task {{ task.id }} Details</h5>
         <p class="card-text">
  <ul>
    <li>
      <p><strong>Title:</strong> {{ task.title }}</p>
    </li>
    <li>
      <p><strong>Description:</strong> {{ task.description }}</p>
    </li>
    <li>
      <p>
        <strong>Status:</strong> 
        <span>{% if task.completed %}Completed{% else %}Pending{% endif %}</span>
      </p>
    </li>
    <li>
      <p><strong>Created At:</strong> {{ task.created_at }}</p>
    </li>
    <li>
      <p><strong>Updated At:</strong> {{ task.updated_at }}</p>
    </li>
  </ul>
  </p>
  <a href="{% url 'tasks_list' %}" class="btn btn-primary btn-sm">Back to Task List</a>
  <a href="{% url 'task_edit' task.id %}" class="btn btn-info btn-sm">Edit Task</a>
  </div>
    </div>
      </div>
      </div>
      </div>
      </section>
</body>
  {% endblock %}
  
