{% extends "base.html" %}

{% block content %}
{% block body %}
<body class="padding-top-225">
<form method="POST" action="{% url 'add_task' %}">
    {% csrf_token %}
    <div class="container">
        <h1>Add Task</h1>
        <div class="form-group mb-3">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group mb-3">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="due_date">Due Date:</label>
            <input type="datetime-local" class="form-control" id="due_date" name="due_date">
        </div>
        <div class="form-group mb-3">
            <input type="submit" class="btn btn-primary" value="Add Task">
        </div>
    </div>
</form>
{% endblock %}
</body>
{% endblock %}