{% extends 'base.html' %}
{% load static %}
    {% block title %} Move Task to completed {% endblock %}

{% block content %}
<body class="padding-top-225">
    <section>
        <div class="container">
            <div class="row">
    <h1>Move Task to Completed</h1>
    <p>Are you sure you want to move the task "<strong>{{ task.title }}</strong>" to completed?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-success">Yes, Move to Completed</button>
        <a href="{% url 'tasks_list' %}" class="btn btn-secondary btn-sm">Cancel</a>
    </form>
    </div>
    </div>
    </section>
</body>
{% endblock %}